*
    box-sizing: boder-box
    padding: 0
    margin: 0
    list-style: none

body
    padding: 30px
    background: #f8f6f6

.PokemonList 
    position: relative
    margin: 20px auto
    max-width: 800px

